# ????????? ??????????? ?????? ????? ?? ??? ???????? ???? ?????? ... 
* .boo text 
* .c text
* .cginc text 
* .config text 
* .contentproj text 
* .cpp text 
* .dae text 
* .DAE text 
* .dtd text 
* .fx text 
* .glsl text 
* .h ????? 
* .inc text 
* .ini text 
*. js text 
* .JSFL text 
* .jsfl text 
* .json text 
* .log text 
* .md text 
* .mel text 
* .php text 
* .shader text 
* .txt text 
* .TXT text
* .xaml ????? 
* .xml ????? 
* .xsd ????? 
.gitattributes ????? 
.gitignore ????? 
??????????? ????? 
????????? * ????? 
????? * ????? 
???????? * ????? 
??????? * ????? 
??????????? * ????? 
README * ????? 
TODO * ????? 
WHATSNEW * ????? 

# ????????? Unix-????? LF line-endings ??? ???????? ???? ?????? ... 
* .meta text eol = lf 
* .sh text eol = lf 
* .vspscc text eol = lf 
.htaccess text eol = lf 

# ?????????? «????????» 
????? * .unity eol = lf
* .asset text eol = lf 
* .prefab text eol = lf 

# ????????? ??????? ?????? CR-LF ? ????? Windows / DOS ??? ???????? ???? ?????? ... 
* .bat text eol = crlf 
* .cmd text eol = crlf 
* .csproj text eol = crlf 
* .sln text eol = crlf 
* .user text eol = crlf * .vcproj text eol 
= crlf 
* .cs text eol = crlf 
* .css text eol = crlf 
* .htm text eol = crlf 
*. html text eol = crlf 

# ? ??? ????? ?? ??????????? ?????????????? ????? ?????? (?. ?. «-text -diff») ... 
* .7z binary 
* .ai binary 
* .anim binary
* .apk ???????? 
* .bin ???????? 
* .bmp ???????? 
* .BMP ???????? 
* .com ???????? 
* .COM ???????? 
* .controller ???????? 
* .cubemap ???????? 
* .dex ???????? 
* .dll ???????? 
* .DLL ???????? 
* .dylib ???????? 
*. eps ???????? 
* .exe ???????? 
* .EXE ???????? 
* .exr ???????? 
* .fbx ???????? 
* .FBX ???????? 
* .fla ???????? 
* .flare ???????? 
* .flv ???????? 
* .gif ????????
* .giskin ???????? 
* .gz ???????? 
* .ht ???????? 
* .ico ???????? 
* .jpeg ???????? 
* .jpg ???????? 
* .keystore ???????? 
* .mask ???????? 
* .mat ???????? 
* .mb ???????? 
* .mp3 ???????? 
* .mp4 ???????? 
*. mpg ???????? 
* .ogg ???????? 
* .PCX ???????? 
* .pcx ???????? 
* .pdb ???????? 
* .pdf ???????? 
* .physicMaterial ???????? 
* .physicmaterial ???????? 
* .png ???????? 
* .ps ????????
* .psd ???????? 
* .qt ???????? 
* .so ???????? 
* .swf ???????? 
* .tga ???????? 
* .tif ???????? 
* .tiff ???????? 
* .ttf ???????? 
* .TTF ???????? 
* .unitypackage ???????? 
* .unityPackage ???????? 
* .wav ???????? 
*. WMV ???????? 
?????? * .zip ???????? 
* .ZIP ???????? 